@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$mobile: 960px;
$primaryColor: #FFAB00;
$accentColor: #673BB7;

:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #333333;
}

main {
  display: flex;
  flex-direction: row;
  position: relative;
  .left-side {
    width: 50%;
    padding: 4rem;
    z-index: 1;
    box-sizing: border-box;
    background-image: url("../assets/bg-image.jpg");
    background-position: center;
    background-size: cover;
    .bg-overlay {
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      width: 50%;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: -1;
    }
    .logo {
      margin-bottom: 12rem;
      .logo-desktop, .logo-mobile {
        display: none;
      }
      @media screen and (min-width: ($mobile + 1px)) {
        .logo-desktop {
          display: block;
          max-width: 25rem;
          width: 100%;
        }
      }
      @media screen and (max-width: $mobile) {
        .logo-mobile {
          display: block;
          width: 15rem;
        }
      }
    }
    .content {
      margin-bottom: 8rem;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 130%;
      .destacado {
        color: $primaryColor;
      }
    }
    .button {
      text-decoration: none;
      color: white;
      background-color: $accentColor;
      padding: 1rem 1.25rem;
      border-radius: .25rem;
      font-weight: 600;
      transition: 250ms ease-in;
      box-shadow: 2px 2px 16px rgba(0,0,0,0.2);
      text-transform: uppercase;
      &:hover {
        background-color: mix($accentColor, black, 70%);
        box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
      }
    }
  }
  .right-side {
    box-shadow: inset 2px 2px 12px rgba(0,0,0,0.5);
    background: linear-gradient(to top right, $primaryColor, mix($primaryColor, white, 80%));
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      max-width: 35rem;
      width: 100%;
      height: auto;
    }
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    .left-side {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      background-color: rgba(255, 255, 255, 1);
      background-image: none;
      .bg-overlay {
        display: none;
      }
      .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 4rem;
      }
      .content {
        text-align: center;
        margin-bottom: 4rem;
        font-size: 1.75rem;
      }
    }
    .right-side {
      width: 100%;
    }
  }
}